     .smver_1 { font-weight: bolder;   font: 14px Verdana, Geneva, Arial, Helvetica, sans-serif;   }
     .smver_2 {font-weight: normal; background-color:  white ;  font-family: Verdana, Times, serif; font-size:  12px }
     .nblue {color: #805817; font-style: normal; text-align: center; font-weight: normal; 
                  font-family:   Verdana, serif;}
     .nblue_normal {color:  #805817; font-style: normal; text-align: center;}
     
     .nred { color: red; font-weight: bolder; text-align: left; overflow: auto;}  
     .snbld {font-weight: bold; font-family:   Verdana, serif; font-size: 70%; 
               background-color: #DCE5F2; 
  		  color: #000000;  padding-left: 3px; padding-right: 3px;
  		  margin-top: 3px;
  		  margin-bottom: 3px;
  		  margin-left: 3px; border: 1px solid #284279;
  		  margin-right: 3px; }
     .arn {font-family: Arial, serif; color:  #463E41; }
     .arn_black {font-family: Arial, serif;  }
    .bbuttons_filter_domain,   .bbuttons_filter_ma, .bbuttons {  
                  		  
		  font-family: Verdana, Geneva, Arial, Helvetica; 
		  font-size: 14px; 
                  font-weight: bolder;             
		  border:1px solid #999999;  
  		  background-color:  	#717D7D; 
		  text-decoration:none;
  		  color: #ffffff; 
  		  margin-top: 3px;
  		  margin-bottom: 3px;
  		  margin-left: 3px;
  		  margin-right: 3px;
		  text-align: left} 
 .bbuttons_filter_domain_selected, .bbuttons_filter_ma_selected {  
               font-family: Verdana, Geneva, Arial, Helvetica; font-size: 14px;   	
		    border:1px solid #999999;  
		   font-weight: bolder;               
  		  background-color: #CDEFDF; 
  		  color: #000000; 
  		  margin-top: 3px;
  		  margin-bottom: 3px;
  		  margin-left: 3px;
  		  margin-right: 3px;
		  text-align: left}  
      .button_remove {  
                  background-image: url("/static/images/cross.png");
                  background-repeat: no-repeat;
                  border: 0;
                  width: 16px;
                  height: 16px;
		 float:right; 
               }  	  
     .buttons {    
		    border:1px solid #999999; 
		   font-family: Verdana, Geneva, Arial, Helvetica; font-size: 11px; 
                  font-weight: bolder;               
  		  background-color:  #CCCCCC; 
  		  color: #ffffff; 
  		  margin-top: 3px;
  		  margin-bottom: 3px;
  		  margin-left: 3px;
  		  margin-right: 3px;
		  text-align: left}   
      table.main { background-color: #F8F8F8;  color: #000000;width: 750px;  z-index: 1008; 
                          border: 0px solid  #737CA1; border-collapse: collapse; } 
      table.params { background-color: #F8FFF8; margin-left: 3px; color: #000000;width: 100px;   z-index: 1006;
                      border: 2px solid  #737CA1; border-collapse: collapse; } 
      .gls_table {    color: #000000; width: 750px;  
                       background-color:  #cccccc;
		       border: 0px solid  #737CA1;   } 
     
      td {  border: 0px solid #D7E5F2; padding-left: 2px; padding-right: 2px;}
      .orange_tr  {color: orange; font-family: Verdana, Times, serif; font-style: normal; 
                     text-align: left ;font-size:  10px}
      .blue_tr  {color: blue; font-family: Verdana, Times, serif; font-style: normal; 
                            text-align:  left;font-size:  10px}
      .green_tr  {color: green;font-family: Verdana, Times, serif;  font-style: normal; 
                        text-align: left;font-size:  10px }
      .lc_st{  font: 12px  Geneva, Arial, Helvetica, sans-serif; color: #000000; margin-left: 3px;padding-left: 5px;  } 
     .fc_st_auto { background-color: #F2F7FB; color: #000000;  text-align:   left;
              border: 0px solid #A5A5A5;  
              margin-right: 0px; padding-right: 0px;   } 
     .fc_st { background-color: #F2F7FB; color: #000000;  text-align:   left;
              border: 1px solid #A5A5A5; 
	      width: 45em; margin-left: 3px;
              margin-right: 0px; padding-right: 0px;   } 
     .fc_st_short {    width: 25em;   }       
    .fc_st_links { background-color: #F2F7FB; color: #000000;  text-align:   left;
              border: 1px solid #A5A5A5; 
	      width: 25em;
              margin-right: 0px; padding-right: 0px;   }       
     .smlc_st {  font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;   color: #3670A7;  
               width: 100px; }
     .smfc_st {  background-color: #F2F7FB;  color: #000000;  text-align: left; }   
      .lc_st input {  width: 140px; font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif; 
                   
  		     background-color: #D7E5F2; color: #102132;   border: 1px solid #284279;  
		     } 
      .smver_1 input {   font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
                    text-align: left;  margin-left: 2px;
  		     background-color: #D7E5F2; color: #102132;   border: 1px solid #284279; 
		                  margin-right: 2px; } 
      .fc_st  input { width:300px; font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif; 
                      text-align: left; margin-left: 3px; 
  		     background-color: #D7E5F2; color: #102132;   border: 1px solid #284279;  
		                    margin-right: 0px; } 
     .smfc_st input { width: 60px;  font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
  		      background-color: #D7E5F2; color: #102132;  border: 1px solid #284279; }
     div#remote_ma {  background:  #F8F8FF; width: 750px;}
     div#domain_table {float:left; width: 449px; margin-left:-100%; }
     html,body{margin: 0; padding: 5px;}
     div#statusDiv {  padding-left: 0; border:1px solid #000; float: left; width:  749px; 
                            background: #EEE;  color: red; font-weight: bolder; text-align: left; overflow: auto;}   
     div#domainPage {margin-left: 415px;border: 0px  solid #ffffff;
                      font-weight: normal; font-family: Verdana, Times, serif; 
                     font-size:  12px; padding-top: 51px;z-index: 1005;}
     div#wrapper {float: left; width: 100%;   z-index: 1004; }
     h2 {height:40px;line-height:40px;  padding-left: 20px;background: #EEEEEF;   } 
     div#header h2{height:60px;line-height:60px; margin: 0px;color: #ffffff; padding-left:  0;width: 750px;
                   font-family: Arial, serif; border: 1px solid #ffffff; background:  #737CA1;}
    
     h3 {height:20px;line-height:20px;margin:0; padding-left: 16px; 
                   font: 16px Verdana, Arial, serif; width: 600px;  }
       
      div#gls_selection  { background-color: #ccc;  color: inherit; position: absolute;
                           width:  750px;  height: 750px;  z-index: 9998; 
                           
       }
      div#gls_selection_content     {    position:  absolute;  top: 70px; left: 0px;
		        z-index: 9999;     } 
    
 #spinner {
 z-index: 10000;
 position: absolute;
 top: 12px;
 left: 680px;
 background-image: url("/static/images/spinner.gif");
 background-repeat: no-repeat;
 background-position: 5px;
 padding-left: 10px;
 padding-top: 10px;
 border: 0;
 width: 24px;
 height: 24px; 
 font-weight: bolder;
}

