#menu_js,
#menu_js ul { margin: 0; padding: 0; }
#menu_js li { list-style-type: none; }
 

/* first level */
#menu_js { width: 100px; }
#menu_js li,
#menu_js a { float: left; width: 100px; }
#menu_js a { display: block; background: #EEE; }
#menu_js a:hover,
#menu_js a.menu_open { background: #DDD; }

/* second level */
#menu_js ul { visibility: hidden; position: absolute; width: 100px; }
#menu_js ul a { background: #DDD; }
#menu_js ul a:hover,
#menu_js ul a.menu_open { background: #CCC; }

/* third level (colors) */
#menu_js ul ul a { background: #CCC; }
#menu_js ul ul a:hover { background: #BBB; }
		
