 <div id="graph">  
      <TMPL_LOOP NAME=graphs>	
         <IMG SRC="<TMPL_VAR NAME=image>"/>	
     </TMPL_LOOP>	
<input type="button"  class="buttons" id="puff"
       onclick="new Effect.Puff('graph'); return false;" value="puff"/> 
</div> 

 
  
