<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml2/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:v="urn:schemas-microsoft-com:vml" xml:lang="en"> 
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <noscript><b>JavaScript must be enabled in order for you to use this webpage.
 </noscript>
   <!--  <LINK HREF="/cdincludes/style.css" TYPE="text/css" REL="stylesheet"> -->
    <LINK HREF="/stuff/mystyle.css" TYPE="text/css" REL="stylesheet"> 
    <style type="text/css">@import url(/stuff/jscalendar-1.0/calendar-win2k-1.css);</style>
    <script type="text/javascript" src="/stuff/jscalendar-1.0/calendar.js"></script>
    <script type="text/javascript" src="/stuff/jscalendar-1.0/lang/calendar-en.js"></script>
    <script type="text/javascript" src="/stuff/jscalendar-1.0/calendar-setup.js"></script>
    <script type="text/javascript" src="/stuff/js/prototype/prototype.js"></script> 
    <script type="text/javascript" >
    function callInProgress (xmlhttp) {
switch (xmlhttp.readyState) {
case 1: case 2: case 3:
return true;
break;
// Case 4 and 0
default:
return false;
break;
}
}
function showFailureMessage() {
alert('uh oh, it looks like the network is down. Try again shortly');
}
// Register global responders that will occur on all AJAX requests
Ajax.Responders.register({
onCreate: function(request) {
request['timeoutId'] = window.setTimeout(
function() {
// If we have hit the timeout and the AJAX request is active, abort it and let the user know
if (callInProgress(request.transport)) {
request.transport.abort();
showFailureMessage();
// Run the onFailure method if we set one up when creating the AJAX object
if (request.options['onFailure']) {
request.options['onFailure'](request.transport, request.json);
}
}
},
5000 // Five seconds
);
},
onComplete: function(request) {
// Clear the timeout, the request completed ok
window.clearTimeout(request['timeoutId']);
}
});

    </script>

    <title><TMPL_VAR NAME=Title></title>
  
</head> 
<BODY>
<div id="header">
   <h2 id="header"><TMPL_VAR NAME=Title></h2>
</div>
<div id="wrapper">
