<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml2/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:v="urn:schemas-microsoft-com:vml" xml:lang="en"> 
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <noscript><b>JavaScript must be enabled in order for you to use this webpage.
 </noscript>
   <!--  <LINK HREF="/cdincludes/style.css" TYPE="text/css" REL="stylesheet"> -->
    <LINK HREF="/stuff/mystyle.css" TYPE="text/css" REL="stylesheet"> 
     <script src="/stuff/scriptaculous-js-1.8.1/lib/prototype.js" type="text/javascript"></script>
     <script src="/stuff/scriptaculous-js-1.8.1/src/scriptaculous.js" type="text/javascript"></script>
     <script src="/stuff/gwidgets/js/base.js" type="text/javascript" charset="utf-8"></script>
     <script src="/stuff/gwidgets/js/gwidgets.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" href="/stuff/gwidgets/css/gwidgets.css" type="text/css" media="screen" title="gWidgets" charset="utf-8"/>
  <script type="text/javascript" charset="utf-8">
     var gWidget_Options = {
	toggleEffect: 'appear',
	msgClose:'done',
	msgWaiting:'page is loading...',
	msgError:'connection failed.',
	useRefresh:false,
	eventOn: 'click',
	tipTitle: false};
   </script>
    <title><TMPL_VAR NAME=Title></title>
  
</head> 
<BODY>
<div id="header">
   <h2 id="header"><TMPL_VAR NAME=Title></h2>
</div>
<div id="wrapper">
