<div id="linksdiv">
<TABLE   class="main" cols="6">   
 <TR>
   <TD   colspan="6">
   <span class="arn">End-to-End Links</span>
    </TD>
     </TR>
  <TR>
      <TD colspan="3"> 
         <SELECT NAME="links" ID="links" SIZE="10" MULTIPLE class="fc_st">    
	   <TMPL_LOOP NAME=links>	
	      <OPTION VALUE="<TMPL_VAR NAME=meta_link>"><TMPL_VAR NAME=meta_link_label> 
	  </TMPL_LOOP>	 
	 </SELECT>
      </TD>
      <TD colspan="3">
         <div id="graph">  
               &nbsp;
        </div> 
    </TD>
  </TR>
 </TABLE>      
</div>
