 <div id="params">
<TABLE   class="main"  cols="6"> 
   <TR>
   <TD   colspan="6">
       <span class="arn">Graph parameters</span>
    </TD>
  </TR>
  <TR>
    <TD  colspan="2">
    <input  type="text" id="Start_Time" name="Start_Time"/>
    <button id="trigger1">Start Time</button>
    <script type="text/javascript">
    Calendar.setup(
    { 
      isPopup: "true",
      timeFormat:   "24",
      showsTime: "true",
    
      inputField  : "Start_Time",         // ID of the input field
      ifFormat    : "%Y-%m-%dT%H:%M:%S",    // the date format
      button      : "trigger1"       // ID of the button
    }
   );
  </script>

   
    <TD   colspan="2">
    <input  type="text" id="End_Time" name="End_Time"/>
    <button id="trigger2">End Time</button>
    <script type="text/javascript">
    Calendar.setup(
    { 
      timeFormat:   "24",
      showsTime: "true",
     
      inputField  : "End_Time",         // ID of the input field
      ifFormat    : "%Y-%m-%dT%H:%M:%S",    // the date format
      button      : "trigger2"       // ID of the button
    }
   );
  </script>
     </TD>  
       <TD   colspan="2">
       <TABLE class="params">	 
	        <TR>
		   <span class="snbld">GMT offset</span>
                   <TD class="smver_2"> 
	             <SELECT ID="gmt_offset"  NAME="gmt_offset" class="fc_st">
                       <TMPL_LOOP NAME=gmt_options>	
                          <OPTION VALUE="<TMPL_VAR NAME=gmt_time>><TMPL_VAR NAME=gmt_time_label>
	                </TMPL_LOOP>	  
                      </SELECT>
                    </TD>
	      </TR>
      </TABLE>    
     </TD>             
  </TR>
   <TR>
   <TD   colspan="6">
    &nbsp;
    </TD>
     </TR>
     <TR>
        <TD colspan="2">
	 <span class="snbld">Type of metric:</span><br>
	   <SELECT NAME="gtype" ID="gtype" class="fc_st">
	   <OPTION VALUE="ipdv">MIN/MAX/MEAN/IQR IPD
	   <OPTION VALUE="dupl">DUPL/REORDERED packets
	   <OPTION VALUE="rt">Round Trip Time (RTT)
	   <OPTION VALUE="loss">Loss/Conditional Loss
	   <OPTION VALUE="rtloss" SELECTED>RTT/Loss/Conditional Loss
	  </SELECT>
	 </TD>
	 <TD colspan="2">
	    <span class="snbld">Upper RTT(or IPD) Limit:</span><br>
              <SELECT NAME="upper_rt"  ID="upper_rt"  class="fc_st">  
	           <TMPL_LOOP NAME=rt_times>	
                     <OPTION VALUE="<TMPL_VAR NAME=rtt_time>><TMPL_VAR NAME=rtt_time_label>
	        </TMPL_LOOP>	
                </SELECT>
        </TD>
	<TD colspan="2">
	  <span class="snbld">Graph type:</span><br>
	  <SELECT NAME="gpresent"  ID="gpresent" class="fc_st">
	    <OPTION VALUE="bars">BARS
	    <OPTION VALUE="lines" SELECTED>LINES
	    <OPTION VALUE="area">AREA(STACKED)
	    <OPTION VALUE="points">POINTS
	  </SELECT>
      </TD> 
  </TR>
 
 <p>
<TR>
  <TD colspan="3">
  <input type="button"  class="buttons" 
	  	        name="get_graph"  
		        id="get_graph"
                        onClick="displayGraph(['Start_Time', 'End_Time',  'gmt_offset',  'gtype', 'upper_rt','gpresent',   'links', 'NO_CACHE'],['graph']);" 
                        value="Get Graph"/>
  </TD>   
  <TD colspan="3">
  <input type="button"  class="buttons" 
	  	        name="resetSession"  
		        id="resetSession"
                        onClick="resetSession(['resetSession', 'NO_CACHE'],['remote_ma','matching', 'linksdiv' ]);" 
                        value="Reset Session"/>
  </TD> 
</TR>
</TABLE>

</div>
