 
<div id="remote_ma">
<TABLE class="main" cols="6"> 
   
  <tr>
  <TD   colspan="1"> 
      <span class="arn">Enter URL(s)</span>
  </TD>	
  <TD   colspan="5"> 
     <textarea rows="5" cols="75"   name="ma_urls"  
				    id="ma_urls"
                		     onChange="displayLinks([ 'src_regexp','dst_regexp', 'packetsize', 'ma_urls','NO_CACHE'],['remote_ma', 'linksdiv']);"><TMPL_VAR NAME=ma_urls></textarea>
 </TD>	     
 </TR>      
 </TABLE>      
</div>
