<ul>
[% FOR domain = domains %]
       <li class="sub">  
		    <a href="#nogo" class="smver_2">
                    [% domain.domain_name %]  
		  <input type="button" class="button_remove" 
                    name="remove_domain_[% domain.urn | html %]"  
                    id="remove_domain_[% domain.urn | html %]"
                    onmouseover="return overlib('Remove this Domain');" 
                    onmouseout="return nd();" 
                    onClick="updateDiv('[% domain.urn | html %]', 'updateGlobal', 'remove_domain' ,'remove_domain_[% domain.urn | html %]', 'menu');" 
                    value=""/>
                  <!--[if lte IE 6]><table><tr><td><![endif]-->		    
	<!--[if gte IE 7]><!--></a>
		  <!--<![endif]--> 
		     
           <ul>  
              <li class="smver_1">Domain Name: 
                 <input   type="text"   name="update_domain_[% domain.domain_name %]"  
		          id="update_domain_[% domain.domain_name %]"
                      onmouseover="return overlib('Change the  name of the Domain. Please check the configuration  of the Domain to make sure that Node names are correct');" 
                      onmouseout="return nd();" 
                      onChange="updateDiv('[% domain.urn | html %]', 'updateGlobal', 'update_domain', 'update_domain_[% domain.domain_name %]', 'menu');"
                      value="[% domain.domain_name | html %]"/>
              </li> 
	      <li class="sub"> <a href="#nogo"  class="smver_2">Nodes:<!--[if gte IE 7]><!--></a>
	           <!--<![endif]-->
                  <!--[if lte IE 6]><table><tr><td><![endif]-->
	        <ul class="node_box">              
                 [% FOR node = domain.Nodes %]             
	           <li>[% node.node_name %] <input type="button" class="button_remove" 
                             name="remove_node_[% node.urn | html %]"  
                             id="remove_node_[% node.urn | html %]"
                             onmouseover="return overlib('Remove this Node');" 
                             onmouseout="return nd();" 
                             onClick="updateDiv('[% node.urn | html %]', 'updateGlobal', 'remove_node', 'remove_node_[% node.urn | html %]','menu' );" 
                             value=""/> </br>
                         <input type="button" class="buttons"  
                                name="configure_node_[% node.urn | html %]"   
                                id="configure_node_[% node.urn | html %]"
                                onmouseover="return overlib('Configure this Node');" 
                                onmouseout="return nd();" 
                                onClick="$('domainPage').show();updateDiv('[% node.urn | html %]', 'configureNode', 'configure_node', 'configure_node_[% node.urn | html %]', 'domainPage');" 
                                value="Configure Node"/>               
                      
                  </li> 
	         [% END %] 	   
              </ul>  
	       <!--[if lte IE 6]></td></tr></table></a><![endif]-->       
            </li>
	    
         
           <span class="smver_2"> Add and Configure new Node
                 <input type="text"   
                      name="add_node_[% domain.domain_name  | html %]"     class="fc_st"  
                      id="add_node_[% domain.domain_name | html %]"
                      onmouseover="return overlib('Add new Domain Node');" 
                      onmouseout="return nd();"
                      onChange="$('domainPage').show();updateDiv('[% domain.urn | html %]', 'updateGlobal', 'add_node',  'add_node_[% domain.domain_name | html %]', 'domainPage');"
                      value="">    
            </span>                      
        </ul> 
	  <!--[if lte IE 6]></td></tr></table></a><![endif]-->
     </li>    
[% END %]
</ul>
