<span id="node_config">
<h3><u>Domain:</u> [% domain_name %]</h3>
<h3><u>Configure Node:</u> [% node_name %]</h3><p>
<table class="params"> 
<tr><th><span class="lc_st"> Node Name:</span></th>   
 <th class="lc_st">  
    <input   type="text"  
         name="update_node_[% node_name %]"  
         id="update_node_[%  node_name %]"
         onmouseover="return overlib('Change the  name of the Node');" 
         onmouseout="return nd();" 
         onChange="updateDiv('[% urn | html %]', 'updateGlobal',  'update_nodename',  'update_node_[% node_name %]','domainPage' );"
         value="[%  node_name | html %]"> 
	</th>
  </tr>   
 [% FOR nodeparam =nodeparams %]
  <tr>
       <td class="lc_st"> 
           [% nodeparam.what %]
       </td>  
       <td class="lc_st"> 
          <input type="text"     
              name="update_[% nodeparam.what %][% nodeparam.urn | html %]"   
	      id="update_[% nodeparam.what %][% nodeparam.urn | html %]" 
              onChange="updateDiv('[% nodeparam.urn | html %]', 'updateNode', '', 'update_[% nodeparam.what %][% nodeparam.urn | html %]', 'domainPage', '[% nodeparam.what %]');" 
	      value="[% nodeparam.valuen | html %]">
	 
      </td>      
  </tr> 
 [% END %]
  <tr><td  colspan="2">
         <button class="buttons" id="close_node_config_btn" onClick="$('node_config').hide()">Close</button>
  </td></tr>
 </table>
</span>
