<?xml version="1.0" encoding="UTF-8"?>
<gmaps>
  [%- FOREACH node = NODES %]
  <node urn="[% node.urn %]"
      lat="[% node.latitude %]" long="[% node.longitude %]">
    [%- FOREACH ma = node.mas %]
    <ma type="[% ma.type %]">[% ma.uri %]</ma>
    [%- END %]
  </node>
  [%- END %]
</gmaps>