<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Google Maps JavaScript API Example</title>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAVyIxGI3Xe9C2hg8IelerBBSCiUxZOw432i6dgwL13ERiRlaSNRS5laPT7HkzCJQupyaoW8s87EsHmQ"
      type="text/javascript"></script>
    <script type="text/javascript">

    //<![CDATA[

     function createMarker( point, dns, ip ) {        

      var marker = new GMarker(point);
      var table;

      GEvent.addListener( marker, "click", function() {
        var req = GXmlHttp.create();
        req.open( "GET", "[% infoUri %]" + ip, false );
        req.send( null );
        var serializer = new XMLSerializer();
        table = serializer.serializeToString( req.responseXML );
        var header =  "<b>" + dns + " (" + ip + ")</b><br/>";
        var tabs = [
          new GInfoWindowTab( "Utilization", header + "<img height='168px' width='481px' src='[% graphUri %]" + ip + "'/>" ),
          new GInfoWindowTab( "Info", header + "<br/>" + table )
        ];
        marker.openInfoWindowTabsHtml( tabs );
      });
      
      return marker;

    }  
		
    function load() {
    
      if (GBrowserIsCompatible()) {

        var side_bar_html = "";

        var map = new GMap2(document.getElementById("map"));
       	map.addControl(new GLargeMapControl());
        map.addControl(new GMapTypeControl());
        map.addControl(new GOverviewMapControl());        
        map.setCenter(new GLatLng(40,-93), 4);
        
        var point;
        var marker;
        
        [% FOREACH mark = marks %]
        point = new GLatLng( [% mark.lat %], [% mark.long %] );
        marker = createMarker(point,"[% mark.dns %]","[% mark.ip %]");
        map.addOverlay(marker);
        [% END %]
               
      }
    	else {
    		alert( "Sorry, your browser is not compatible with GoogleMaps." );
    	} 
   
    }
  
    //]]>
    </script>
  </head>
  <h1>SLAC perfSONAR gmaps demonstration</h1>
  <body onload="load()" onunload="GUnload()">
    <table>
      <tr>
        <td>
          <div id="map" style="width: 900px; height: 650px"></div>
        </td>
        <td>
          <div id="side_bar"  style="overflow: auto; width:150px; height: 650px"></div>
        </td>
      </tr>
    </table>
  </body>
</html>