
<hr>
<table>
  <tr>
    <td><b>IP</b></td>
    <td>[% ip %]</td>
  </tr>
  <tr>
    <td><b>DNS</b></td>
    <td>[% dns %]</td>
  </tr>
  <tr>
    <td><b>Measurement Archive</b></td>
    <td>[% ma %]</td>
  </tr>
  <tr>
    <td><b>EventType</b></td>
    <td>[% eventType %]</td>
  </tr>
</table>
