<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Strict//EN">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>perfSONAR Google Maps Asynchronous XML Example</title>
    <style type="text/css">
      html, body {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
      }
      html {
        overflow: hidden;
      }
      body {
        margin: 0px;
        padding: 0px;
        background-color: #CCCCCC;
      }
      #map {
        width: 100%;
        height: 100%;
      }
      #side_bar {
        text-align: right;
        background-color: #FFFFFF;
        margin: 5px;
        padding: 5px;
        padding-left: 8px;
        top: 28px;
        right: 2px;
        height: 72%;
        position: absolute;
        z-index: 99999; 
        overflow: auto;
        filter: alpha(opacity=80);
        -moz-opacity: .80;
        opacity: .80;
      }
      #slac_logo {
        position: absolute;
        left: 12px;
        bottom: 56px;
        z-index: 99998;
      }
      #perfsonar_logo {
        position: absolute;
        left: 25px;
        bottom: 27px;
        z-index: 99997;
      }
      #invert_markers, #select_all_markers, #select_none_markers {
        font-size: 6pt;
      }
    </style>
    <script src="http://maps.google.com/maps?file=api&amp;key=[% googlemapKey %]&amp;v=2.x"
      type="text/javascript"></script>
    <script type="text/javascript">

    //<![CDATA[

    var gmarkers = new Array();
    var glines = new Array();
    var garrows = new Array();
    
    var side_bar_html = '';
    
    var map;
    var mlat;
    var mlng;
    var activeIP;
    var activeDNS;
    
    function createMarker( lat, lng, dns, ip ) {        
 
      if ( dns == '' ) {
        dns = ip;
      }
              
      if ( ! parseFloat(lat) && ! parseFloat(lng) ) {

        side_bar_html += dns + '<input type="checkbox" disabled>' + '<br>';
        
      } else {

        var point = new GLatLng( lat,lng );
        var tooltip = dns + ' (' + ip + ')';
        var marker = new GMarker(point, {title:tooltip});

        // make double clicks center on the marker
        GEvent.addListener( marker, "dblclick", function() {
          map.setCenter( point );
        });

        side_bar_html +=  "<a href=\"javascript:focus('" + dns + "','" + ip + "');\">" + dns + '</a>'
                + " <input id=\"toggle_marker_" + ip + "\" type=\"checkbox\" onclick=\"javascript:toggleMarker('" + ip + "');\" checked>" + '<br>';
        
        return marker;
      
      }
    }
    
    function getTabs( dns, ip ) {
      var req = GXmlHttp.create();
      req.open( "GET", "[% cgi %]?mode=[% infoMode %]&ip=" + ip, false );
      req.send( null );
      var serializer = new XMLSerializer();
      table = serializer.serializeToString( req.responseXML );
      
      var d = new Date();
      var header =  "<h3>" + dns + " (" + ip + ")</h3>";
      var graph = "[% cgi %]?mode=[% graphMode %]&ip=" + ip + "&bogus=" + d.getTime();
      var tabs = [
        new GInfoWindowTab( "Utilization", header + "<p align=\"center\"><img id='utilGraph_'" + ip + " height='168px' width='481px' src='" + graph + "'/></p>" ),
        new GInfoWindowTab( "Info", header + table )
      ];
     
      return tabs;
    }

    function refreshInfoWindow() {
      if( ! map.getInfoWindow().isHidden() )
        refreshInfoWindowTab( activeDNS, activeIP );
    }
    
    function refreshInfoWindowTab( dns, ip ) {
      activeIP = ip;
      activeDNS = dns;
      var tabs = getTabs( dns, ip );
      gmarkers[ip].openInfoWindowTabsHtml( tabs );   
    }
    
    function toggleMarker( ip ) {
      var marker = gmarkers[ip];
      if ( marker.isHidden() ) {
        gmarkers[ip].show();
      } else {
        gmarkers[ip].hide();
      }
    }
    
    function invertMarkers() {
      for( var ip in gmarkers ) {
        var checkbox = document.getElementById("toggle_marker_" + ip);
        if( gmarkers[ip].isHidden() ) {
          gmarkers[ip].show();
          checkbox.checked = true;
        } else {
          gmarkers[ip].hide();
          checkbox.checked = false;
        }
      }
    }
    
    function selectAllMarkers() {
      for( var ip in gmarkers ) {
        gmarkers[ip].show();
        document.getElementById("toggle_marker_" + ip).checked = true;
      }
    }

    function selectNoneMarkers() {
      for( var ip in gmarkers ) {
        gmarkers[ip].hide();
        document.getElementById("toggle_marker_" + ip).checked = false;
      }
    }

    function toggleLines() {
      var show = document.getElementById("toggle_lines").checked;
      if ( ! show ) {
        for( var descr in glines ) {
          map.removeOverlay( glines[descr] );
          map.removeOverlay( garrows[descr] );
        }
      } else {
        for( var descr in glines ) {
          map.addOverlay( glines[descr] );
          map.addOverlay( garrows[descr] );
        }
      } 
    }
    
    
    function focus( dns, ip ) {
      refreshInfoWindowTab( dns, ip );
      map.getInfoWindow().hide();
      map.getInfoWindow().show();
    }
    
    
    function zoom(direction) {
      var m = map.fromLatLngToDivPixel( new GLatLng( mlat, mlng ) );
      var c = map.fromLatLngToDivPixel( map.getCenter() );
      if ( direction == 'in' ) {
        var x = c.x - ((m.x - c.x) * -.5);
        var y = c.y - ((m.y - c.y) * -.5);
        var n = map.fromDivPixelToLatLng( new GPoint(x,y) );
        map.setCenter(n);
        map.zoomIn();
      } else {
        var x = c.x - (m.x - c.x);
        var y = c.y - (m.y - c.y );
        var n = map.fromDivPixelToLatLng( new GPoint(x,y) );
        map.setCenter(n);
        map.zoomOut();
      }
    }
    
    GMap2.prototype.wheelZoom = function(event) {
      if (window.event) {
        var x = event.offsetX;
        var y = event.offsetY;
      } else {
        var x = event.layerX;
        var y = event.layerY;
      }
      if (window.event) {
        event.returnValue = false; //IE
      }
      if (event.cancelable) {
        event.preventDefault(); //dom
      }
      if ((event.detail || -event.wheelDelta) < 0) { 
        zoom('in');
      } else {
        zoom('out');
      }
      return false;
    }
    
    function bearing( from, to ) {
      var lat1 = from.latRadians();
      var lon1 = from.lngRadians();
      var lat2 = to.latRadians();
      var lon2 = to.lngRadians();

      var angle = - Math.atan2( Math.sin( lon1 - lon2 ) * Math.cos( lat2 ), Math.cos( lat1 ) * Math.sin( lat2 ) - Math.sin( lat1 ) * Math.cos( lat2 ) * Math.cos( lon1 - lon2 ) );
      if ( angle < 0.0 )
	    angle  += Math.PI * 2.0;

      angle = angle * (180.0 / Math.PI);
      angle = angle.toFixed(1);

      return angle;
    }  
    
    function arrowHead(points) {
      var p1 = points[points.length-1];
      var p2 = points[points.length-2];
      var dir = bearing( p2, p1 );
      // == round it to a multiple of 3 and cast out 120s
      var dir = Math.round(dir/3) * 3;
      while (dir >= 120) {dir -= 120;}
      // == use the corresponding triangle marker 
      var arrowIcon = new GIcon();
      arrowIcon.iconSize = new GSize( 16,16 );
      arrowIcon.shadowSize = new GSize( 1,1 );
      arrowIcon.iconAnchor = new GPoint( 10,10 );
      arrowIcon.infoWindowAnchor = new GPoint( 0,0 );
      arrowIcon.image = "http://www.google.com/intl/en_ALL/mapfiles/dir_"+dir+".png";
      var arrow = new GMarker( p1, arrowIcon );
      return arrow;
    }
 
    function clearOverlay() {
    
    }
 
    function getXml( uri ) {
      
      GDownloadUrl( uri, function (doc) {
        var xmlDoc = GXml.parse(doc);
        var markers = xmlDoc.documentElement.getElementsByTagName("marker");
                    
        for (var i = 0; i < markers.length; i++) {
	        // obtain the attribues of each marker
	        var lat = markers[i].getAttribute("lat");
	        var lng = markers[i].getAttribute("long");
	          
	        var dns = markers[i].getAttribute("dns");
	        var ip = markers[i].getAttribute("ip");
	            
	        // create the marker
	        gmarkers[ip] = createMarker( lat, lng, dns, ip );
	        // make single clicks the info box
          GEvent.addListener( gmarkers[ip], "click", function() {
            refreshInfoWindowTab( dns, ip );
          });
	          
	        map.addOverlay( gmarkers[ip] );
	      }
	      document.getElementById("side_bar").innerHTML = side_bar_html;
	
	      var lines = xmlDoc.documentElement.getElementsByTagName("line");
	      for ( var i = 0; i < lines.length; i++ ) {
	
	        var descr = lines[i].getAttribute("descr");
	        var srclat = parseFloat( lines[i].getAttribute("srclat") );
	        var srclng = parseFloat( lines[i].getAttribute("srclng") );
	        var src = new GLatLng( srclat, srclng );
	        var dstlat = parseFloat( lines[i].getAttribute("dstlat") );
	        var dstlng = parseFloat( lines[i].getAttribute("dstlng") );
	        var dst = new GLatLng( dstlat, dstlng );
	            
	        var line = [ src, dst ];
	        glines[descr] = new GPolyline( line )
	        map.addOverlay( glines[descr] );
	        garrows[descr] = arrowHead( line );
	        map.addOverlay( garrows[descr] );
	         
        }

        var lineToggle = "show links " + '<input id=\"toggle_lines" type=\"checkbox\" onclick=\"javascript:toggleLines();\" checked><br>';
        
        var markerToggle = 'markers: ' +
          '<input id=\"invert_markers\" type=\"button\" onclick=\"javascript:invertMarkers();\" value=\"Invert\">'
          + '<input id=\"select_all_markers\" type=\"button\" onclick=\"javascript:selectAllMarkers();\" value=\"All\">'
          + '<input id=\"select_none_markers\" type=\"button\" onclick=\"javascript:selectNoneMarkers();\" value=\"None\">';
                  
        document.getElementById("side_bar").innerHTML = lineToggle + markerToggle + '<hr>' + side_bar_html;   
     
      });
        
    }
 
 
    function load() {
    
      if (GBrowserIsCompatible()) {

        document.getElementById("side_bar").innerHTML 
          = '<p align="center">Please wait.<br>Fetching perfSONAR information: <br>This could take some time...<br><img src="[% cgi %]?mode=spinner"/></p>';

        map = new GMap2(document.getElementById("map"));
        var mapDiv = document.getElementById("map"); 
       	map.addControl(new GLargeMapControl());
        map.addControl(new GMapTypeControl());
        map.addControl(new GOverviewMapControl());        
        map.setCenter(new GLatLng(40,0), 2);

        // populate map 
        getXml( "[% cgi %]?mode=[% xmlMode %]&[% args %]" );

        GEvent.addDomListener(mapDiv, "DOMMouseScroll", map.wheelZoom); // dom
        GEvent.addDomListener(mapDiv, "mousewheel", map.wheelZoom); // ie
        GEvent.addListener( map, "mousemove", function(point) {
              mlat = point.y.toFixed(6);
              mlng = point.x.toFixed(6);
            }
          );
                 
        // Monitor the window resize event and let the map know when it occurs
        if (window.attachEvent) { 
          window.attachEvent("onresize", function() { map.onResize()} );
        } else {
          window.addEventListener("resize", function() { map.onResize()} , false);
        }

        setInterval( "refreshInfoWindow();", [% refreshInterval %] * 1000 );
        
      }
      else {
        alert( "Sorry, your browser is not compatible with GoogleMaps." );
      } 
   
    }

    //]]>
    </script>
  </head>
  <body onload="load()" onunload="GUnload()">
    <div id="map"></div>
    <div id="side_bar"></div>
    <div id="slac_logo"><img src="[% cgi %]?mode=slac_logo"/></div>
    <div id="perfsonar_logo"><img src="[% cgi %]?mode=perfsonar_logo"/></div>
  </body>
</html>
