 <TABLE class="gls_table" cols="6"> 
 [% IF project_table.size > 0 %]  
   <tr> 
   <td colspan="6"> 
     <span class="nblue">Step 1</span><br/>  
       <span class="smver_2"> Filter the list below by clicking on the project button</span>
    </TD>
    </tr> 
     <tr>
    <td colspan="6">
    [% SET index = 1 %] 
       [% FOREACH project IN   project_table.keys %]	
	  <input type="button"  class="bbuttons_filter_ma" 
	  	        name="filter_project[% index %]"  
		        id="filter_project[%  index %]"
                        value="[% project  %]"
			onClick="filterMAs('[% project  %]','[% index   %]')"/> 
	[%  index = index + 1 %] 
	[% END %]
  </TD>
 </tr> 
  [% END %]     		 
   <tr> 
   <TD   colspan="6">     
       <div id="filtered_ma" name="filtered_ma" style="display:[% UNLESS remote_urls.size > 0; 'none'; END %];">          
         <SELECT NAME="select_url" ID="select_url" SIZE="7" MULTIPLE class="fc_st">    
	   [% FOREACH url IN  remote_urls %]	
	      <OPTION class="smver_1" VALUE="[% url.url %]">[% url.url_label %] 
	   [% END %]
	 </SELECT>
      </div>
    [% UNLESS remote_urls.size > 0 %]
      <span class="nblue">Step 1</span><br/> 
      <span class="arn_black">Enter URL(s)</span>     
    [% END %] 
         
   </TD>
  </tr> 
  <tr>	
  <TD   colspan="6"> 
         <span class="smver_2">Select remote MA from the list above or enter the URL in the text area below</span>   
  </TD>	     
 </TR> 
  <tr>	
  <TD   colspan="6"> 
     <textarea rows="2" cols="64"   name="ma_urls"  
				    id="ma_urls">[% ma_urls %]</textarea>
 </TD>	     
 </TR>      
 <tr>
  <td  colspan="6"><span class="nblue">Step 2</span>
   <input type="button"  class="bbuttons" 
	  	        name="[% get_type %]"  
		        id="[% get_type %]"
                        onClick="[% get_type == 'get_links' ? 'displayLinks()': 'displayEnds()' %]" 
                        value="Get  [% get_description %] from remote MA"/>
 </td>
 </tr> 
 </TABLE>
