<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml2/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:v="urn:schemas-microsoft-com:vml" xml:lang="en"> 
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <noscript><b>JavaScript must be enabled in order for you to use this webpage.
 </noscript>
   <!--  <LINK HREF="/cdincludes/style.css" TYPE="text/css" REL="stylesheet"> -->
    <LINK HREF="/css/gui.css" TYPE="text/css" REL="stylesheet"> 
    <style type="text/css">@import url(/js/jscalendar-1.0/calendar-win2k-1.css);</style>
    <script type="text/javascript" src="/js/jscalendar-1.0/calendar.js"></script>
    <script type="text/javascript" src="/js/jscalendar-1.0/lang/calendar-en.js"></script>
    <script type="text/javascript" src="/js/jscalendar-1.0/calendar-setup.js"></script>
    <script type="text/javascript" src="/js/prototype.js"></script> 
    <script type="text/javascript" src="/js/gui.js"></script> 
    <script type="text/javascript" src="/js/spinner.js"></script> 
<title>[% title %]</title>
  
</head> 

<BODY>
<div id="spinner" name="spinner"   style="display:none">
<div style="background-color: white; position: absolute; top: 0px; right: 0px; width: 1px; height: 1px; cursor:pointer;"
 onclick="$('spinner').hide()">
 </div>
  </div>
<div id="wrapper">
<div id="header">
   <h2 id="header">[% title %]</h2>
</div>
<div id="remote_ma">
[% INCLUDE gui/gls_part.tmpl
   get_type = 'get_links'
   get_description = 'Monitored Links'
%]
</div>
<div id="matching">
<TABLE    class="main"  cols="6"> 
<TR>
      <TD class="smver_2" colspan="6"></p>   
        Use wildcard to filter list of links by hostname(s) or packetsize. 
	Click on the "End-to-End Links" area to update list.</br> Or submit another Metadata request. </p>
   </TD>
  </TR>   
  <TR>
      <TD VALIGN="Middle" class="snbld"> Source Hostname <INPUT TYPE="text" 
                                 NAME="src_regexp" SIZE=15    
                                 ID="src_regexp"  VALUE="[% src_regexp | uri %]"
				 onChange="displayLinks();"> 
      </TD>
      <TD VALIGN="Middle" class="snbld" VALIGN="Middle"> Destination Hostname <INPUT TYPE="text" 
                                 NAME="dst_regexp" SIZE=15    
				 ID="dst_regexp"  VALUE="[% dst_regexp | uri  %]" 
                                 onChange="displayLinks();"> 
      </TD>
      <TD class="snbld" VALIGN="Middle">   Packetsize<INPUT TYPE="text" 
                                                            NAME="packetsize" SIZE="5"  
							    ID="packetsize"  
							    VALUE="[%  packetsize %]"
							    onChange="displayLinks();"> 
     </TD>
  </TR>   
 </TABLE> 
</div> 
<div id="statusDiv" name="statusDiv"></div>
<div id="linksdiv" name="linksdiv"></div>
<div id="params_table" name="params_table" style="display:none">
<TABLE   class="main"  cols="6"> 
   <TR>
   <TD   colspan="6">
       <span class="arn_black">Graph parameters</span>
    </TD>
  </TR>
  <TR>
    <TD  colspan="2">
    <input  type="text" id="start_time" name="start_time"/>
    <button class="buttons" id="trigger1">Start Time</button>    
     <script type="text/javascript">   
     Calendar.setup(
     { 
      isPopup: "true",
      timeFormat:   "24",
      showsTime: "true",
    
      inputField  : "start_time",         // ID of the input field
      ifFormat    : "%Y-%m-%dT%H:%M:%S",    // the date format
      button      : "trigger1"       // ID of the button
    }
   );
   </script>
    <TD   colspan="2">
    <input  type="text" id="end_time" name="end_time"/>
    <button class="buttons" id="trigger2">End Time</button>
    <script type="text/javascript">   
      Calendar.setup(
    { 
      timeFormat:   "24",
      showsTime: "true",
     
      inputField  : "end_time",         // ID of the input field
      ifFormat    : "%Y-%m-%dT%H:%M:%S",    // the date format
      button      : "trigger2"       // ID of the button
    }
   );
    </script>
     </TD>  
       <TD   colspan="2">
	 <span class="snbld">GMT offset</span>
	             <SELECT ID="gmt_offset"  NAME="gmt_offset" class="fc_st_auto">
                       [% FOREACH gmt_option IN gmt_options %]	
                          <OPTION VALUE="[% gmt_option.gmt_time %]>[% gmt_option.gmt_time_label %]
	               [% END %]	  
                      </SELECT>
      </TD>           
   </TR>
   <TR>
   <TD   colspan="6">
    &nbsp;
    </TD>
     </TR>
     <TR>
        <TD colspan="2">
	 <span class="snbld">Type of Metric</span><br>
	   <SELECT NAME="gtype" ID="gtype" class="fc_st_auto">
	   <OPTION VALUE="ipdv">MIN/MAX/MEAN/IQR IPD
	   <OPTION VALUE="dupl">DUPL/REORDERED packets
	   <OPTION VALUE="rt">Round Trip Time (RTT)
	   <OPTION VALUE="loss">Loss/Conditional Loss
	   <OPTION VALUE="rtloss" SELECTED>RTT/Loss/Conditional Loss
	  </SELECT>
	 </TD>
	 <TD colspan="2">
	    <span class="snbld">Upper RTT(or IPD) Limit</span><br>
              <SELECT NAME="upper_rt"  ID="upper_rt"  class="fc_st_auto">  
	           [% FOREACH rt_time IN rt_times %]
                     <OPTION VALUE="[% rt_time.rtt_time %]>[% rt_time.rtt_time_label %]
	           [% END %]
                </SELECT>
        </TD>
	<TD colspan="2">
	  <span class="snbld">Graph Type</span><br>
	  <SELECT NAME="gpresent"  ID="gpresent" class="fc_st_auto">
	    <OPTION VALUE="bars">BARS
	    <OPTION VALUE="lines" SELECTED>LINES
	    <OPTION VALUE="area">AREA(STACKED)
	    <OPTION VALUE="points">POINTS
	  </SELECT>
      </TD> 
  </TR>
  
<TR style="border: 1px solid #737CA1">
  <TD colspan="2"><span class="nblue">Step 3</span>
  </TD>
 
  <TD><input type="button"   class="bbuttons"
                         name="get_graph2"  
		        id="get_graph2"  
			value="Get Graph"
			onClick="displayGraph()"/>
  </TD>   
  <TD colspan="3">
  <!-- input type="button"  class="bbuttons" 
	  	        name="resetSession"  
		        id="resetSession"
                        onClick="resetSession();" 
                        value="Reset Session"/>
			-->
  </TD> 
</TR>
</TABLE>
</div>
</div>
</body>
</html>
 

