<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml2/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:v="urn:schemas-microsoft-com:vml" xml:lang="en"> 
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <noscript><b>JavaScript must be enabled in order for you to use this webpage.
 </noscript>
   <!--  <LINK HREF="/cdincludes/style.css" TYPE="text/css" REL="stylesheet"> -->
    <LINK HREF="/css/mystyle.css" TYPE="text/css" REL="stylesheet"> 
    <style type="text/css">@import url(/js/jscalendar-1.0/calendar-win2k-1.css);</style>
    <script type="text/javascript" src="/js/jscalendar-1.0/calendar.js"></script>
    <script type="text/javascript" src="/js/jscalendar-1.0/lang/calendar-en.js"></script>
    <script type="text/javascript" src="/js/jscalendar-1.0/calendar-setup.js"></script>
    <script type="text/javascript" src="/js/prototype.js"></script> 
    
<title>[% title %]</title>
  
</head> 

<BODY>
<div id="spinner" name="spinner"   style="display:none">
<div style="background-color: white; position: absolute; top: 0px; right: 0px; width: 1px; height: 1px; cursor:pointer;"
 onclick="$('spinner').hide()">
 </div>
  </div>
<div id="wrapper">
<div id="header">
   <h2 id="header">[% title %]</h2>
</div>
<div id="remote_ma">
<TABLE class="main" cols="6"> 
 [% IF project_table.size > 0 %]  
   <tr> 
   <td colspan="6"> 
     <span class="nblue">Step 1</span><br/>  
       <span class="smver_2"> Filter the list below by clicking on the project button</span>
    </TD>
    </tr> 
     <tr>
    <td colspan="6">
    [% SET index = 1 %] 
       [% FOREACH project IN   project_table.keys %]	
	  <input type="button"  class="bbuttons_filter_ma" 
	  	        name="filter_project[% index %]"  
		        id="filter_project[%  index %]"
                        value="[% project  %]"
			onClick="filterMAs('[% project  %]','[% index   %]')"/> 
	[%  index = index + 1 %] 
	[% END %]
  </TD>
 </tr> 
  [% END %]     		
 
   <tr> 
   <TD   colspan="6">
      
       <div id="filtered_ma" name="filtered_ma" style="display:[% UNLESS remote_urls.size > 0; 'none'; END %];">          
         <SELECT NAME="select_url" ID="select_url" SIZE="7" MULTIPLE class="fc_st">    
	   [% FOREACH url IN  remote_urls %]	
	      <OPTION class="smver_1" VALUE="[% url.url %]">[% url.url_label %] 
	   [% END %]
	 </SELECT>
      </div>
    [% UNLESS remote_urls.size > 0 %]
      <span class="nblue">Step 1</span><br/> 
      <span class="arn_black">Enter URL(s)</span>     
    [% END %] 
         
   </TD>
  </tr> 
  <tr>	
  <TD   colspan="6"> 
         <span class="smver_2">Select remote MA from the list above or enter the URL in the text area below</span>   
  </TD>	     
 </TR> 
  <tr>	
  <TD   colspan="6"> 
     <textarea rows="2" cols="64"   name="ma_urls"  
				    id="ma_urls">[% ma_urls %]</textarea>
 </TD>	     
 </TR>      
 <tr>
  <td  colspan="6"><span class="nblue">Step 2</span>
   <input type="button"  class="bbuttons" 
	  	        name="get_links"  
		        id="get_links"
                        onClick="displayLinks();" 
                        value="Get Metadata from remote MA"/>
 </td>
 </tr> 
 </TABLE>     
</div>
<div id="matching">
<TABLE    class="main"  cols="6"> 
<TR>
      <TD class="smver_2" colspan="6"></p>   
        Use wildcard to filter list of links by hostname(s) or packetsize. 
	Click on the "End-to-End Links" area to update list.</br> Or submit another Metadata request. </p>
   </TD>
  </TR>   
  <TR>
      <TD VALIGN="Middle" class="snbld"> Source Hostname <INPUT TYPE="text" 
                                 NAME="src_regexp" SIZE=15    
                                 ID="src_regexp"  VALUE="[% src_regexp | uri %]"
				 onChange="displayLinks();"> 
      </TD>
      <TD VALIGN="Middle" class="snbld" VALIGN="Middle"> Destination Hostname <INPUT TYPE="text" 
                                 NAME="dst_regexp" SIZE=15    
				 ID="dst_regexp"  VALUE="[% dst_regexp | uri  %]" 
                                 onChange="displayLinks();"> 
      </TD>
      <TD class="snbld" VALIGN="Middle">   Packetsize<INPUT TYPE="text" 
                                                            NAME="packetsize" SIZE="5"  
							    ID="packetsize"  
							    VALUE="[%  packetsize %]"
							    onChange="displayLinks();"> 
     </TD>
  </TR>   
 </TABLE> 
</div> 
<div id="statusDiv" name="statusDiv"></div>
<div id="linksdiv" name="linksdiv"></div>
<div id="params_table" name="params_table" style="display:none">
<TABLE   class="main"  cols="6"> 
   <TR>
   <TD   colspan="6">
       <span class="arn_black">Graph parameters</span>
    </TD>
  </TR>
  <TR>
    <TD  colspan="2">
    <input  type="text" id="start_time" name="start_time"/>
    <button class="buttons" id="trigger1">Start Time</button>    
     <script type="text/javascript">   
     Calendar.setup(
     { 
      isPopup: "true",
      timeFormat:   "24",
      showsTime: "true",
    
      inputField  : "start_time",         // ID of the input field
      ifFormat    : "%Y-%m-%dT%H:%M:%S",    // the date format
      button      : "trigger1"       // ID of the button
    }
   );
   </script>
    <TD   colspan="2">
    <input  type="text" id="end_time" name="end_time"/>
    <button class="buttons" id="trigger2">End Time</button>
    <script type="text/javascript">   
      Calendar.setup(
    { 
      timeFormat:   "24",
      showsTime: "true",
     
      inputField  : "end_time",         // ID of the input field
      ifFormat    : "%Y-%m-%dT%H:%M:%S",    // the date format
      button      : "trigger2"       // ID of the button
    }
   );
    </script>
     </TD>  
       <TD   colspan="2">
	 <span class="snbld">GMT offset</span>
	             <SELECT ID="gmt_offset"  NAME="gmt_offset" class="fc_st_auto">
                       [% FOREACH gmt_option IN gmt_options %]	
                          <OPTION VALUE="[% gmt_option.gmt_time %]>[% gmt_option.gmt_time_label %]
	               [% END %]	  
                      </SELECT>
      </TD>           
   </TR>
   <TR>
   <TD   colspan="6">
    &nbsp;
    </TD>
     </TR>
     <TR>
        <TD colspan="2">
	 <span class="snbld">Type of Metric</span><br>
	   <SELECT NAME="gtype" ID="gtype" class="fc_st_auto">
	   <OPTION VALUE="ipdv">MIN/MAX/MEAN/IQR IPD
	   <OPTION VALUE="dupl">DUPL/REORDERED packets
	   <OPTION VALUE="rt">Round Trip Time (RTT)
	   <OPTION VALUE="loss">Loss/Conditional Loss
	   <OPTION VALUE="rtloss" SELECTED>RTT/Loss/Conditional Loss
	  </SELECT>
	 </TD>
	 <TD colspan="2">
	    <span class="snbld">Upper RTT(or IPD) Limit</span><br>
              <SELECT NAME="upper_rt"  ID="upper_rt"  class="fc_st_auto">  
	           [% FOREACH rt_time IN rt_times %]
                     <OPTION VALUE="[% rt_time.rtt_time %]>[% rt_time.rtt_time_label %]
	           [% END %]
                </SELECT>
        </TD>
	<TD colspan="2">
	  <span class="snbld">Graph Type</span><br>
	  <SELECT NAME="gpresent"  ID="gpresent" class="fc_st_auto">
	    <OPTION VALUE="bars">BARS
	    <OPTION VALUE="lines" SELECTED>LINES
	    <OPTION VALUE="area">AREA(STACKED)
	    <OPTION VALUE="points">POINTS
	  </SELECT>
      </TD> 
  </TR>
 
 <p>
<TR>
  <TD colspan="3"><span class="nblue">Step 3</span>
  <input type="button"  class="bbuttons" 
	  	        name="get_graph2"  
		        id="get_graph2"
                        value="Get Graph"
			onClick="displayGraph()"/>
  </TD>   
  <TD colspan="3">
  <!-- input type="button"  class="bbuttons" 
	  	        name="resetSession"  
		        id="resetSession"
                        onClick="resetSession();" 
                        value="Reset Session"/>
			-->
  </TD> 
</TR>
</TABLE>
</div>
</div>
<script type="text/javascript">
   
  
   Ajax.Responders.register({
     onCreate: function() {
        if (Ajax.activeRequestCount === 1) {
           $('spinner').show();
        }
    },
    onComplete: function() {
        if (Ajax.activeRequestCount === 0) {
           $('spinner').hide();
        }
    },
   }); 


function filterMAs(name,index) {
      $$('input.bbuttons_filter_ma_selected').each(function(name){
                $(name).removeClassName('bbuttons_filter_ma_selected');
		 
      });
      $('params_table').hide();
      $('get_graph2').removeClassName('bbuttons_filter_ma_selected'); 
      $('get_links').removeClassName('bbuttons_filter_ma_selected');
      $('filter_project' + index).addClassName('bbuttons_filter_ma_selected');
      new Ajax.Updater({ success: 'filtered_ma', failure: 'statusDiv'}, '/gui/filter_links', {
                      parameters: { filter_project : name }
     });
}     

function displayLinks() {
   var params = {};
  
   $('get_graph2').removeClassName('bbuttons_filter_ma_selected'); 
   $('get_links').addClassName('bbuttons_filter_ma_selected');
   ['ma_urls', 'src_regexp', 'dst_regexp', 'filter_project', 'packetsize', 'stored_links', 'select_url'].each(function(name) {
       if($(name)  && $F(name)) {
          this[name] = $F(name);
       }
   }, params); 
   new Ajax.Updater({ success: 'linksdiv', failure: 'statusDiv'}, '/gui/displayLinks', {
                      parameters: params
   }); 
   $('params_table').show();
    
}

function displayGraph() {
   var params = {}; 
   if ($('notice')) {
       $('notice').hide(); 
   }
   $('get_graph2').addClassName('bbuttons_filter_ma_selected');
   ['start_time', 'end_time',  'gmt_offset', 'filter_project',  'gtype', 'upper_rt','gpresent',   'links', 'stored_links'].each(function(name, index) {
       if($(name)) {
          this[name] = $(name).value;
       }
   }, params); 
   new Ajax.Updater({ success: 'graph', failure: 'statusDiv'}, '/gui/displayGraph', {
                      parameters: params
   });
   
  
}

function resetSession() {
   var params = {};
   new Ajax.Updater({ success: 'wrapper', failure: 'statusDiv'}, '/gui/display');
} 
 
</script>
</body>
</html>
 

