 [% IF graphs.size > 0 %]   
  [% FOREACH graph IN graphs %]     
     <IMG   ALT="[% alt %]"  SRC="[% c.uri_for("/") %]gui/retrieveGraph?graph_id=[% graph.key %]"/>    
  [% END %]
 [% ELSE %]
     <h2> No graph is available for this link, time, parameters </h2>
 [% END %]

 


 
  
